/* begin Page */

body
{
	margin: 0 auto;
	padding: 0;
	background-color: #BFBFBF;
	background-image: url('img/Page-BgTexture.jpg');
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: top left;
}

div#M1e9h8d2i-main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;

}




div#M1e9h8d2i-page-background-gradient
{
	background-position: top left;
}


.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}


form
{
	padding:0 !important;
	margin:0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
div#M1e9h8d2i-Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 1000px;
	min-width:1px;
	min-height:1px;
		background-color: #FFF;
}

div#M1e9h8d2i-Sheet-body
{
	position: relative;
	z-index: 1;
	padding: 0px;
}

div#M1e9h8d2i-Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-image: url('img/Sheet-c.png');
}


div#M1e9h8d2i-Sheet
{
	margin-top: 0px !important;
}

div#M1e9h8d2i-page-background-simple-gradient, div#M1e9h8d2i-page-background-gradient, div#M1e9h8d2i-page-background-glare
{
	min-width:1000px;
}

/* end Box, Sheet */

/* begin Header */
div#M1e9h8d2i-Header
{
	margin: 0 auto;
	position: relative;
	z-index:0;
	width: 1000px;
	height: 125px;
}


div#M1e9h8d2i-Header-jpeg
{
	position: absolute;
	z-index:-1;
	top: 0;
	left: 0;
	width: 1000px;
	height: 125px;
	background-image: url('img/Header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
/* end Header */

/* begin ContentLayout */
div#M1e9h8d2i-contentLayout
{
	position: relative;
	margin-bottom: 0px;
	width: 1000px;
}
/* end ContentLayout */

/* begin Box, Block */
div#M1e9h8d2i-Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:15px;
	min-height:15px;
}

div#M1e9h8d2i-Block-body
{
	position: relative;
	z-index: 1;
	padding: 7px;
}

div#M1e9h8d2i-Block-tr, div#M1e9h8d2i-Block-tl, div#M1e9h8d2i-Block-br, div#M1e9h8d2i-Block-bl, div#M1e9h8d2i-Block-tc, div#M1e9h8d2i-Block-bc,div#M1e9h8d2i-Block-cr, div#M1e9h8d2i-Block-cl
{
	position:absolute;
	z-index:-1;
}

div#M1e9h8d2i-Block-tr, div#M1e9h8d2i-Block-tl, div#M1e9h8d2i-Block-br, div#M1e9h8d2i-Block-bl
{
	width: 14px;
	height: 14px;
	background-image: url('img/Block-s.png');
}

div#M1e9h8d2i-Block-tl
{
	top:0;
	left:0;
	clip: rect(auto, 7px, 7px, auto);
}

div#M1e9h8d2i-Block-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 7px, 7px);
}

div#M1e9h8d2i-Block-bl
{
	bottom: 0;
	left: 0;
	clip: rect(7px, 7px, auto, auto);
}

div#M1e9h8d2i-Block-br
{
	bottom: 0;
	right: 0;
	clip: rect(7px, auto, auto, 7px);
}

div#M1e9h8d2i-Block-tc, div#M1e9h8d2i-Block-bc
{
	left: 7px;
	right: 7px;
	height: 14px;
	background-image: url('img/Block-h.png');
}

div#M1e9h8d2i-Block-tc
{
	top: 0;
	clip: rect(auto, auto, 7px, auto);
}

div#M1e9h8d2i-Block-bc
{
	bottom: 0;
	clip: rect(7px, auto, auto, auto);
}

div#M1e9h8d2i-Block-cr, div#M1e9h8d2i-Block-cl
{
	top: 7px;
	bottom: 7px;
	width: 14px;
	background-image: url('img/Block-v.png');
}

div#M1e9h8d2i-Block-cr
{
	right:0;
	clip: rect(auto, auto, auto, 7px);
}

div#M1e9h8d2i-Block-cl
{
	left:0;
	clip: rect(auto, 7px, auto, auto);
}

div#M1e9h8d2i-Block-cc
{
	position:absolute;
	z-index:-1;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 7px;
	background-color: #EFEFEB;
}


div#M1e9h8d2i-Block
{
	margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
div#M1e9h8d2i-BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 7px;
	margin-bottom: 7px;
}

div#M1e9h8d2i-BlockHeader #t
{
	height: 30px;
	color: #F4E6F1;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
	white-space : nowrap;
	padding: 0 6px;
	line-height: 30px;	
}

div#M1e9h8d2i-BlockHeader #l, div#M1e9h8d2i-BlockHeader #r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 30px;
	background-image: url('img/BlockHeader.png');
}

div#M1e9h8d2i-BlockHeader #l
{
	left:0;
	right:6px;
}

div#M1e9h8d2i-BlockHeader #r
{ 
	width:1000px;
	right:0;
	clip: rect(auto, auto, auto, 994px);
}





div#M1e9h8d2i-header-tag-icon
{
    height: 30px;
	background-position:left top;
	background-image: url('img/BlockHeaderIcon.png');
	padding:0 0 0 12px;
	background-repeat: no-repeat;
	min-height: 12px;
	margin: 0 0 0 5px;
}


/* end BlockHeader */

/* begin Box, BlockContent */
div#M1e9h8d2i-BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

div#M1e9h8d2i-BlockContent-body
{
	position: relative;
	z-index: 1;
	padding: 8px;
}



div#M1e9h8d2i-BlockContent-body
{
	color:#242424;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
}

div#M1e9h8d2i-BlockContent-body a:link
{
	color: #713262;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
}

div#M1e9h8d2i-BlockContent-body a:visited, div#M1e9h8d2i-BlockContent-body a.visited
{
	color: #878787;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
}

div#M1e9h8d2i-BlockContent-body a:hover, div#M1e9h8d2i-BlockContent-body a.hover
{
	color: #23101E;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

div#M1e9h8d2i-BlockContent-body ul
{
	list-style-type: none;
	color: #5E5E5E;
	margin:0;
	padding:0;
}

div#M1e9h8d2i-BlockContent-body li
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 12px;
text-decoration: none;
}

div#M1e9h8d2i-BlockContent-body ul li
{
	padding:0px 0 0px 13px;
	background-image: url('img/BlockContentBullets.png');
	background-repeat:no-repeat;
	margin:0.5em 0 0.5em 0;
	line-height:1.2em;
}

/* end Box, BlockContent */

/* begin Box, Post */
div#M1e9h8d2i-Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

div#M1e9h8d2i-Post-body
{
	position: relative;
	z-index: 1;
	padding: 10px;
}



div#M1e9h8d2i-Post
{
	margin: 7px;
}

/* Start images */
a img
{
	border: 0;
}

div#M1e9h8d2i-article img, imgdiv#M1e9h8d2i-article
{
	border: solid 1px #C8CABA;
	margin: 1em;
}

div#M1e9h8d2i-metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin: 2px;
}
/* Finish images */

/* Start tables */

div#M1e9h8d2i-article table, tablediv#M1e9h8d2i-article
{
	border-collapse: collapse;
	margin: 1px;
	width:auto;
}

div#M1e9h8d2i-article table, tablediv#M1e9h8d2i-article div#M1e9h8d2i-article tr, div#M1e9h8d2i-article th, div#M1e9h8d2i-article td
{
	background-color:Transparent;
}

div#M1e9h8d2i-article th, div#M1e9h8d2i-article td
{
	padding: 2px;
	border: solid 1px #A3A68C;
	vertical-align: top;
	text-align:left;
}

div#M1e9h8d2i-article th
{
	text-align: center;
	vertical-align: middle;
	padding: 7px;
}

/* Finish tables */

pre
{
	overflow: auto;
	padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
div#M1e9h8d2i-PostHeader
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
font-family: Arial, Helvetica, Sans-Serif;
font-size: 22px;
font-style: normal;
font-weight: bold;
text-align: left;
	color: #391931;
}

div#M1e9h8d2i-PostHeader a, div#M1e9h8d2i-PostHeader a:link, div#M1e9h8d2i-PostHeader a:visited, div#M1e9h8d2i-PostHeader a:hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 22px;
font-style: normal;
font-weight: bold;
text-align: left;
	margin:0;
	color: #391931;
}

/* end PostHeaderIcon */

/* begin PostHeader */
div#M1e9h8d2i-PostHeader a:link
{
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  color: #4A2140;
}

div#M1e9h8d2i-PostHeader a:visited, div#M1e9h8d2i-PostHeader a.visited
{
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  color: #363636;
}

div#M1e9h8d2i-PostHeader a:hover, div#M1e9h8d2i-PostHeader a.hovered
{
font-family: Arial, Helvetica, Sans-Serif;
text-decoration: none;
text-align: left;
  color: #D926AF;
}
/* end PostHeader */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
  color: #1C1C1C;
}


div#M1e9h8d2i-PostContent p 
{
	margin: 0.5em 0;
}

div#M1e9h8d2i-PostContent, div#M1e9h8d2i-PostContent p
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
text-align: right;
  color: #1C1C1C;
}

div#M1e9h8d2i-PostContent
{
  margin:0;
}


/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
  color: #6A2F5B;
}

/* Adds special style to an unvisited link. */
a:link
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
  color: #6A2F5B;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
  color: #383A2C;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: none;
  color: #D926AF;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 28px;
font-style: normal;
font-weight: bold;
text-align: left;
  color: #6A2F5B;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 22px;
font-style: normal;
font-weight: bold;
text-align: left;
  color: #6A2F5B;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 18px;
font-style: normal;
font-weight: bold;
text-align: left;
  color: #545643;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 16px;
font-style: normal;
font-weight: bold;
text-align: left;
  color: #1C1C1C;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
text-align: left;
  color: #1C1C1C;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
font-family: Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
text-align: left;
  color: #1C1C1C;
}
/* Finish Content headings Fonts & Colors  */
/* end PostContent */

/* begin PostBullets */
/* Start Content list */
ol, ul
{
	color: #383838;
	margin:1em 0 1em 2em;
	padding:0;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 12px;
}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
	
}



div#M1e9h8d2i-Post li
{
	padding:0px 0 0px 13px;
	line-height:1.2em;
}

div#M1e9h8d2i-Post ol li, div#M1e9h8d2i-Post ul ol li
{
	background: none;
	padding-left:0;
}

div#M1e9h8d2i-Post ul li, div#M1e9h8d2i-Post ol ul li 
{
	background-image: url('img/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:13px;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */
blockquote,
blockquote p,
div#M1e9h8d2i-PostContent blockquote p
{
	color:#11110D;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-style: italic;
font-weight: normal;
text-align: left;
}

blockquote,
div#M1e9h8d2i-PostContent blockquote
{
		border:solid 1px #C8CABA; 
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 41px;
	background-color:#E1E2DA;
	background-image:url('img/PostQuote.png');
	background-position:left top;
	background-repeat:no-repeat;
}


/* Finish blockuote */
/* end PostQuote */

/* begin Button */
div#M1e9h8d2i-button-wrapper div#M1e9h8d2i-button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:34px;
	margin:0 !important;
	padding:0 !important;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
}

div#M1e9h8d2i-button-wrapper
{
	display:inline-block;
	position:relative;
	height: 34px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	z-index:0;
}

.firefox2 div#M1e9h8d2i-button-wrapper
{
	display:block;
	float:left;
}

div#M1e9h8d2i-button-wrapper div#M1e9h8d2i-button
{
	display:block;
	height: 34px;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
	white-space: nowrap;
	text-align: left;
	padding: 0 21px !important;
	line-height: 34px;
	text-decoration: none !important;
	color: #363636 !important;
}

input, select
{
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
}

div#M1e9h8d2i-button-wrapper.hover div#M1e9h8d2i-button, div#M1e9h8d2i-button:hover
{
	color: #F6F6F3 !important;
	text-decoration: none !important;
}

div#M1e9h8d2i-button-wrapper.active div#M1e9h8d2i-button
{
	color: #F2F2F2 !important;
}

div#M1e9h8d2i-button-wrapper #l, div#M1e9h8d2i-button-wrapper #r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 102px;
	background-image: url('img/Button.png');
}

div#M1e9h8d2i-button-wrapper #l
{
	left:0;
	right:11px;
}

div#M1e9h8d2i-button-wrapper #r
{
	width:411px;
	right:0;
	clip: rect(auto, auto, auto, 400px);
}

div#M1e9h8d2i-button-wrapper.hover #l, div#M1e9h8d2i-button-wrapper.hover #r
{
	top: -34px;
}

div#M1e9h8d2i-button-wrapper.active #l, div#M1e9h8d2i-button-wrapper.active #r
{
	top: -68px;
}


/* end Button */

/* begin Footer */
div#M1e9h8d2i-Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 1000px;
	margin: 5px auto 0px auto;
}

div#M1e9h8d2i-Footer div#M1e9h8d2i-Footer-inner
{
	height:1%;
	position: relative;
	z-index: 0;
	padding: 8px;
	text-align: center;
}

div#M1e9h8d2i-Footer div#M1e9h8d2i-Footer-background
{
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	background-image: url('img/Footer.png');
	width: 1000px;
	height: 150px;
	bottom:0;
	left:0;
}


div#M1e9h8d2i-Footer div#M1e9h8d2i-Footer-text p
{
	margin: 0;
}

div#M1e9h8d2i-Footer div#M1e9h8d2i-Footer-text
{
	display:inline-block;
	color:#200E1B;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
font-size: 11px;
}

div#M1e9h8d2i-Footer div#M1e9h8d2i-Footer-text a:link
{
	text-decoration: none;
	color: #6A2F5B;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
}

div#M1e9h8d2i-Footer div#M1e9h8d2i-Footer-text a:visited
{
	text-decoration: none;
	color: #383A2C;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
}

div#M1e9h8d2i-Footer div#M1e9h8d2i-Footer-text a:hover
{
	text-decoration: none;
	color: #D926AF;
font-family: Tahoma, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
div#M1e9h8d2i-page-footer, div#M1e9h8d2i-page-footer a, div#M1e9h8d2i-page-footer a:link, div#M1e9h8d2i-page-footer a:visited, div#M1e9h8d2i-page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#8E3E7A;
}

div#M1e9h8d2i-page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#707359;
}
/* end PageFooter */

/* begin LayoutCell */
div#M1e9h8d2i-contentLayout div#M1e9h8d2i-content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 999px;
}
/* end LayoutCell */


