/* begin Page */

img
{
	filter:expression(fixPNG(this));
}
/* end Page */

/* begin Box, Sheet */
div#M1e9h8d2i-Sheet, div#M1e9h8d2i-Sheet-body
{
	zoom:1;
}

div#M1e9h8d2i-Sheet-body
{
	position:static;
}
div#M1e9h8d2i-Sheet-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"img/Sheet-c.png',sizingMethod='scale')");
}
div#M1e9h8d2i-page-background-simple-gradient, div#M1e9h8d2i-page-background-gradient, div#M1e9h8d2i-page-background-glare
{
	width:expression(document.body.clientWidth > 1000 ? "100%" : "1000px");
}
/* end Box, Sheet */

/* begin Box, Block */
div#M1e9h8d2i-Block, div#M1e9h8d2i-Block-body
{
	zoom:1;
}

div#M1e9h8d2i-Block-body
{
	position:static;
}

div#M1e9h8d2i-Block-tr, div#M1e9h8d2i-Block-tl, div#M1e9h8d2i-Block-br, div#M1e9h8d2i-Block-bl, div#M1e9h8d2i-Block-tc, div#M1e9h8d2i-Block-bc,div#M1e9h8d2i-Block-cr, div#M1e9h8d2i-Block-cl
{
	font-size: 1px;
	background: none;
}

div#M1e9h8d2i-Block-tr, div#M1e9h8d2i-Block-tl, div#M1e9h8d2i-Block-br, div#M1e9h8d2i-Block-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"img/Block-s.png',sizingMethod='scale')");
}

div#M1e9h8d2i-Block-tl
{
	clip: rect(auto 7px 7px auto);
}

div#M1e9h8d2i-Block-tr
{
	left: expression(this.parentNode.offsetWidth-14+'px');
	clip: rect(auto auto 7px 7px);
}

div#M1e9h8d2i-Block-bl
{
	top: expression(this.parentNode.offsetHeight-14+'px');
	clip: rect(7px 7px auto auto);
}

div#M1e9h8d2i-Block-br
{
	top: expression(this.parentNode.offsetHeight-14+'px');
	left: expression(this.parentNode.offsetWidth-14+'px');
	clip: rect(7px auto auto 7px);
}

div#M1e9h8d2i-Block-tc, div#M1e9h8d2i-Block-bc
{
	width: expression(this.parentNode.offsetWidth-14+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"img/Block-h.png',sizingMethod='scale')");
}

div#M1e9h8d2i-Block-tc
{
	clip: rect(auto auto 7px auto);
}

div#M1e9h8d2i-Block-bc
{
	top: expression(this.parentNode.offsetHeight-14+'px');
	clip: rect(7px auto auto auto);
}

div#M1e9h8d2i-Block-cr, div#M1e9h8d2i-Block-cl
{
	height: expression(this.parentNode.offsetHeight-14+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"img/Block-v.png',sizingMethod='scale')");
}

div#M1e9h8d2i-Block-cr
{
	left: expression(this.parentNode.offsetWidth-14+'px');
	clip: rect(auto auto auto 7px);
}

div#M1e9h8d2i-Block-cl
{
	clip: rect(auto 7px auto auto);
}

div#M1e9h8d2i-Block-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-14+'px');
	height: expression(this.parentNode.offsetHeight-14+'px');
	background-color: #EFEFEB;
}
/* end Box, Block */

/* begin BlockHeader */
div#M1e9h8d2i-BlockHeader, div#M1e9h8d2i-BlockHeader
{
	font-size: 1px;
}
div#M1e9h8d2i-BlockHeader .l, div#M1e9h8d2i-BlockHeader .r
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"img/BlockHeader.png',sizingMethod='crop')");
}

div#M1e9h8d2i-BlockHeader .r
{
	left: expression(this.parentNode.offsetWidth-1000+'px');
	clip: rect(auto auto auto 994px);
}

div#M1e9h8d2i-BlockHeader .l
{
	width: expression(this.parentNode.offsetWidth-6+'px');
}

div#M1e9h8d2i-header-tag-icon
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"img/BlockHeaderIcon.png',sizingMethod='crop')");
}

/* end BlockHeader */

/* begin Box, BlockContent */
div#M1e9h8d2i-BlockContent, div#M1e9h8d2i-BlockContent-body
{
	zoom:1;
}

div#M1e9h8d2i-BlockContent-body
{
	position:static;
}

div#M1e9h8d2i-BlockContent-body ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"img/BlockContentBullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Box, Post */
div#M1e9h8d2i-Post, div#M1e9h8d2i-Post-body
{
	zoom:1;
}

div#M1e9h8d2i-Post-body
{
	position:static;
}
/* end Box, Post */

/* begin PostContent */
h1
{
  margin: 0.67em 0;
}

h2
{
  margin: 0.8em 0;
}

h3
{
  margin: 1em 0;
}

h4
{
  margin: 1.25em 0;
}

h5
{
  margin: 1.67em 0;
}

h6
{
  margin: 2.33em 0;
}
/* end PostContent */

/* begin PostBullets */
div#M1e9h8d2i-Post ul li, div#M1e9h8d2i-Post ol ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"img/PostBullets.png',sizingMethod='crop')");
}

div#M1e9h8d2i-Post ul ol li
{
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
/* end PostBullets */

/* begin PostQuote */
blockquote,
div#M1e9h8d2i-PostContent blockquote
{
	height:1%;
	background-image: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"img/PostQuote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Button */
div#M1e9h8d2i-button-wrapper, div#M1e9h8d2i-button-wrapper .l, div#M1e9h8d2i-button-wrapper .r
{
	font-size: 1px;
}

div#M1e9h8d2i-button-wrapper div#M1e9h8d2i-button
{
	float:left;
}

div#M1e9h8d2i-button-wrapper .l, div#M1e9h8d2i-button-wrapper .r
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"img/Button.png',sizingMethod='crop')");
}

div#M1e9h8d2i-button-wrapper .r
{
	left: expression(this.parentNode.offsetWidth-411+'px');
	clip: rect(auto auto auto 400px);
}

div#M1e9h8d2i-button-wrapper .l
{
	width: expression(this.parentNode.offsetWidth-11+'px');
}

/* end Button */

/* begin Footer */
div#M1e9h8d2i-Footer div#M1e9h8d2i-Footer-background
{
	top: expression(this.parentNode.offsetHeight-150+'px');
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"img/Footer.png',sizingMethod='crop')");
	zoom: 1;
	font-size:1px;
}

div#M1e9h8d2i-rss-tag-icon
{
	zoom:1;
	font-size:1px;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"img/rssIcon.png',sizingMethod='crop')");
}

/* end Footer */


